* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: monospace;
}

header {
    /*darker background - dark color on top of the image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.main-nav {
    /*right side*/
    float: right;
    /*disabling the dots*/
    list-style: none;
    /*just a margin*/
    margin-top: 30px;
}

.main-nav li {
    /*making the list display like a row*/
    display: inline-block;
    margin: 5px;
}

.main-nav li a {
    /*font sizes and other stuff*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 20px;
}

.main-nav li a:hover {
    border: 1px solid white;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 150px;
    height: 80px;
    float: left;
}

.row {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10px;
}

.hero {
    color: white;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 10px;
}


h1 {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 70pt;
    text-align: center;
}

.button {
    cursor: pointer;
    margin-top: 30px;
    /* vh or wh are units related to screen size*/
    /*margin-left:  40vw;
    margin-right: auto;*/
    display: inline-block;
}

.btn-one {
    display: inline-block;
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    background-color: cadetblue;
}

.btn-two {
    display: inline-block;
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    background-color: cadetblue;
}

.btn-two :hover{
    background-color: green;
    transition-duration: 500ms;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }

  h1{
      font-size: 16pt;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
  }